
body{
	background-image: url(../img/fundo.jpg);
  background-repeat: round;
    background-size: cover;
    background-attachment: fixed;
	}

.container{

    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

header, footer{
background-color: rgb(25,25,112,0.5);
padding: 3%;
}

h1,h2{
    text-align: center;
 	color: #ffffff;
 	font-weight:bolder;
 }
p{
    color:#ffffff;
 	font-weight:bolder;
    font-size:bolder;

 }

ul li, ol li{
      text-decoration: underline;
      color:#ffffff ;
      font-weight: bolder;

  }
 
figure{
      
      text-align: center;
      border: 20px dashed #ffffff;
     }
footer{
          position: fixed;
          z-index: 1030;
          bottom: 0;   
          right: 0;
          left: 0;
        }