
body{
	background-image: url(../img/fundo.jpg);
  background-repeat: round;
    background-size: cover;
    background-attachment: fixed;
	}


h1,h2{
    text-align: center;
 	color: #ff0000;
 	font-weight:bolder;
 }
p{
    color:#ff0000;
 	font-weight:bolder;
    font-size:bolder;

 }

ul li{
      text-decoration: underline;
      color:#ff0000 ;
      font-weight: bolder;

  }
 
figure{
      
      text-align: center;
      border: 20px dashed #ff0000;
     }
